<div class="input-box">
  <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)">
    <div class="input-data">
      <input type="text" ngModel name="name" placeholder="Name" required>
    </div>
    <div class="input-data">
      <input type="number" ngModel name="price" placeholder="Price" step="0.1" required>
    </div>
<!--    <div class="input-data">-->
<!--      <input type="text" ngModel name="description" placeholder="Description" required>-->
<!--    </div>-->
    <div class="input-data">
      <textarea name="description" ngModel placeholder="Description" required  rows="2"></textarea>
    </div>
<!--    <div class="input-file">-->
<!--      <input #fileInput-->
<!--             style="display: none"-->
<!--             type="file"-->
<!--             accept="image/png"-->
<!--             (change)="onFileChanged($event)">-->
<!--      <button (click)="fileInput.click()">Select File</button>-->
<!--      <span class="ml-4">{{ selectedFile.name }}</span>-->
<!--    </div>-->
    <button type="submit" [disabled]="productForm.invalid">
      <span>Post</span>
    </button>
  </form>
  <div class="input-file">
    <input #fileInput
           style="display: none"
           type="file"
           (change)="onFileChanged($event)">
    <button (click)="fileInput.click()">Select File</button>
    <span *ngIf="selectedFile" class="ml-4">{{ selectedFile.name }}</span>
  </div>
</div>
<div class="text-center">
  <input (input)="filterProducts($event)" class="outline-0 w-1/4 border border-black rounded-lg p-0.5 pl-2" type="text" placeholder="Search">
</div>
<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING_STATE">
    <svg class="animate-spin h-5 w-5 bg-blue-700">
    </svg>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <div class="flex flex-wrap w-max mx-52 mt-4">
      <ng-container *ngFor="let product of appState.appData.data.products;">
        <div class="flex-col border-2 border-gray-900 m-2 w-1/7 h-60">
          <app-product [product]="product"></app-product>
          <button class="accent-red-600" (click)="deleteProduct(product)">Delete</button>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR_STATE">
    Error
  </ng-container>
</ng-container>
